.ex-1-square {
    transition: background-color 2s ease-in-out;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: width 4s ease-in-out;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: border-radius 2s ease-in-out;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: opacity 2s ease-in-out;
}

.ex-4-square:hover {
    opacity: 0;
}
