.ex-1-square {
    transition: background-color 2s ease-in-out;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: width 4s ease-in-out;
}

.ex-2-square:active {
    width: 100%;
}
